
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xabar Yuborish</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inbox' %}">Qabul qilingan xabarlar</a></li>
                        <li class="breadcrumb-item active">Xabar Yuborish</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Yangi Xabar</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.recipient.label_tag }}
                            {% if form.recipient %}
								<p>{{ form.recipient }}</p>
							{% else %}
								<p>Admin</p>
							{% endif %}
                            {% if form.recipient.errors %}
                                <div class="text-danger">{{ form.recipient.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.subject.label_tag }}
                            {{ form.subject }}
                            {% if form.subject.errors %}
                                <div class="text-danger">{{ form.subject.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.body.label_tag }}
                            {{ form.body }}
                            {% if form.body.errors %}
                                <div class="text-danger">{{ form.body.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Yuborish</button>
                            <a href="{% url 'inbox' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Bekor qilish</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
